:root {
  --bg: #100a17;
  --fg: #f0e6f4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  color: var(--fg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  overflow: visible;
  outline: 1px solid rgb(255 255 255 / 0.1);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-size: 1.125rem;
  padding: 32px;
}

@media (min-width: 900px) {
  body {
    padding: 64px;
  }
}

main {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

button {
  padding-inline: 1rem;
}

.controls {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.rhyme {
  display: none;
  font-size: 0.875rem;
  opacity: 0.6;
  padding-left: 1rem;
  /* justify-content: space-between; */
  gap: 16px;
}

@media (min-width: 700px) {
  .bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-between;
  }
}

main:has(.debug:checked) .rhyme {
  display: flex;
}

@keyframes fly-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

.loading {
  width: 16px;
  height: 16px;
  --c: no-repeat linear-gradient(#727d87 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation: loading 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  margin: 32px auto;
}

.verses {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  min-width: 20rem;
  padding: 16px;
  background-color: rgb(255 255 255 / 0.1);
  border-radius: 8px;
}

.verse {
  animation: fly-in 1000ms ease-out forwards;
  opacity: 0;
  transform: translateY(-50px);
  transition: color 500ms;
  line-height: 1.3;
}

.verse:nth-child(2) {
  animation-delay: 250ms;
}

.verse:nth-child(3) {
  animation-delay: 500ms;
}

.verse:nth-child(4) {
  animation-delay: 750ms;
}

.verses[data-verse='1'] .verse:nth-child(1),
.verses[data-verse='2'] .verse:nth-child(2),
.verses[data-verse='3'] .verse:nth-child(3),
.verses[data-verse='4'] .verse:nth-child(4) {
  color: #6be1e9;
}

/* Bard */

.bard {
  flex-shrink: 0;
  margin-top: 32px;
  width: 65em;
  height: 62em;
  font-size: 2px;
  margin-bottom: 20px;
  position: relative;
}

@media (min-width: 700px) {
  .bard {
    font-size: 3px;
  }
}

.bard img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.cartridges {
  position: absolute;
  inset: 0;
}

.cartridge {
  height: 62em;
}

.glitch img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.strip {
  overflow: hidden;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* Glitch keyframes */

@keyframes glitch-5 {
  0.00%,
  33.33%,
  43.33%,
  66.67%,
  76.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  43.32% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  76.66% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}

@keyframes glitch-6 {
  0.00%,
  33.33%,
  41.67%,
  66.67%,
  75.00%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  41.66% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  74.99% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}

@keyframes glitch-7 {
  0.00%,
  33.33%,
  40.48%,
  66.67%,
  73.81%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  40.47% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  73.80% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}

@keyframes glitch-8 {
  0.00%,
  33.33%,
  39.58%,
  66.67%,
  72.92%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  39.57% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  72.91% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}

@keyframes glitch-9 {
  0.00%,
  33.33%,
  38.89%,
  66.67%,
  72.22%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  38.88% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  72.21% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}

@keyframes glitch-10 {
  0.00%,
  33.33%,
  38.33%,
  66.67%,
  71.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0);
  }

  33.34%,
  38.32% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1));
  }

  66.68%,
  71.66% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2));
  }
}
