@font-face {
    font-family: 'Coder\'s Crux';
    src: url('Coders-Crux.woff2') format('woff2'),
        url('Coders-Crux.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

