px-rotary-input {
  --value: 0;

  --outline: rgb(63, 63, 113);
  --light: rgb(150, 186, 242);
  --mid: rgb(112, 154, 248);
  --dark: rgb(94, 109, 218);

  font-size: 4px;
  width: 24em;
  height: 24em;
  display: inline-block;
  position: relative;
  overflow: hidden;

  cursor: grab;
}

px-rotary-input[theme='red'] {
  --outline: rgb(113, 30, 30);
  --light: rgb(242, 140, 140);
  --mid: rgb(248, 100, 100);
  --dark: rgb(218, 70, 70);
}

px-rotary-input svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  max-width: unset;
  margin-left: calc(var(--value) * -100%);
}

.px-dragging {
  user-select: none;
}

.px-dragging,
.px-dragging px-rotary-input {
  cursor: grabbing;
}

/* Radios */
.datasets {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.datasets__radios {
  display: grid;
}

.datasets__radios input {
  display: none;
}

.datasets__radios label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: rgb(63, 63, 113);
}

.datasets__radios svg {
  font-size: 4px;
  width: 6em;
  height: 6em;

  --shine: transparent;
  --outline: rgb(63, 63, 113);
  --color: rgb(131, 126, 134);
  --highlight: rgb(158, 172, 183);
}

.datasets__radios input:checked + svg {
  --shine: rgb(110 235 48 / 0.4);
  --outline: rgb(63, 63, 113);
  --color: rgb(110, 235, 48);
  --highlight: rgb(255 255 255 / 0.5);
}

.datasets__radios label:first-child,
.datasets__radios label:last-child {
  position: relative;
  margin-left: -1.5rem;
}

.datasets__radios label:nth-child(3) {
  position: relative;
  margin-left: 0.5rem;
}
