#root {
  background-color: var(--white-transparent);
  backdrop-filter: blur(10px);
  min-height: 100svh;
  padding: 2rem;
}

.app {
  display: grid;
  gap: 2rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.controls {
  order: 1;
}

@media (min-width: 600px) {
  #root {
    padding: 2rem 3rem;
  }
}

@media (min-width: 800px) {
  #root {
    background-color: transparent;
    backdrop-filter: none;
    padding: 0;
  }

  .app {
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    --border-color: var(--gray-3);

    background-color: var(--white-transparent);
    backdrop-filter: blur(10px);

    box-shadow: var(--px) 0 0 0 var(--border-color),
      0 var(--px) 0 0 var(--border-color),
      var(--minus-px) 0 0 0 var(--border-color),
      0 var(--minus-px) 0 0 var(--border-color);

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header header header header poem poem poem poem'
      'controls controls controls controls poem poem poem poem';
  }

  .header {
    grid-area: header;
  }

  .controls {
    grid-area: controls;
    order: unset;
  }

  .poem {
    grid-area: poem;
  }
}

@media (min-width: 1000px) {
  .app {
    padding: 3rem;
    gap: 3rem;
  }
}

.noscript {
  text-align: center;
  padding: 2rem;
  color: var(--black);
}

.noscript p {
  margin-top: 1rem;
  color: var(--gray-6);
}
