.controls {
  --border-color: var(--gray-5);
  max-width: 28rem;
  padding: calc(4 * var(--px));
  background-color: var(--gray-2);
  align-self: flex-start;
}

@media (min-width: 600px) {
  .controls {
    max-width: none;
  }
}

.controls__toggles {
  display: flex;
  gap: 1rem;
}

.controls__seed {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.controls__seed-input {
  max-width: calc(100% - 4rem);
  overflow: hidden;
  flex-grow: 1;
}

.controls__seed-button {
  margin-top: 1rem;
  flex-shrink: 0;
}

.controls__datasets {
  display: flex;
  gap: 1rem;
}
