@keyframes cartridge {
  100% {
    margin-left: -300%;
  }
}

.cartridge {
  position: absolute;
  width: calc(16 * var(--px));
  height: calc(14 * var(--px));
  top: calc(14 * var(--px));
  left: calc(-6 * var(--px));
  overflow: hidden;
}

.cartridge__bg {
  position: relative;
  animation: cartridge 500ms steps(3) 1 forwards;
  height: 100%;
  width: auto;
  max-width: unset;
  margin-left: 0;
}
