.poem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.poem__verses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.poem__speech-controls,
.poem__time {
  opacity: 0;
  animation: fly-in 1000ms ease-out forwards;
}

.poem__speech-controls {
  animation-delay: 200ms;
}

.poem__time {
  animation-delay: 400ms;
}

.poem__error {
  margin-top: 1rem;
}
